* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color:  white;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
}

.section-heading {
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 2px solid #4caf50;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 12px 20px;
    text-align: center;
    border: 1px solid #ddd;
}

.table th {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
}

.table td {
    background-color: #fff;
    font-size: 1rem;
    color: #555;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f1f8e9;
}

.table-striped tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.table a {
    text-decoration: none;
    color: white;
    background-color: #4caf50;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.table a:hover {
    background-color: #45a049;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #4caf50;
    color: white !important;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
    margin-left: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #45a049;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #45a049;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.dataTables_filter {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#python-table_filter {
    text-align: left;
}

#python-table_length {
    display: none;
}

#python-table_wrapper {
    margin-top: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}
